// definisco il font
$main-fonts: 'Roboto', sans-serif;
// definisco il colore principale
$color-main: #000000;
// definisco il colore header
$color-header: #303030;
// definisco il colore per i bottoni
$color-btn: #E30D12;
